@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-full h-screen min-h-0 m-0;
  @apply bg-zinc-900 text-gray-50;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply flex flex-col;
  @apply w-full h-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
